.add_post{
    margin-top: 0%;
}

.write_comment
{
    padding-left: 0px;
    padding-right: 70px;
    padding-top: 8px;
}
.post-area{
    
    overflow: hidden;
    font-size: 14px;
}

.placeholder {
    padding: 5px;
    display: block;
    overflow: hidden;
    border: 1px solid #FFFFFF;
    background-color: white;
    border-radius: 4px;
}

.hint{
    width: 100%;
    cursor: text;
    cursor: text;
    color: #B9B4B4;
    padding-left: 5px;
}
.camera-section{
    cursor: hand;
    cursor: pointer;
    position: absolute;
    right: 20px;
    color: #626262;
}

.profile-pic{
    display: none !important;
}

.post-form{
    background: #fff;
    outline: none;
}
.post-form .text-area{
    border: 1px solid #eeeeee;
}
.post-form textarea{
    border-radius: 4px;
    outline: none;
    resize: none;
}

.post-form textarea.form-control:focus{
    border-color: transparent;
}

.show {
    display: block;
}

.hide{
    display: none;
}

.button-area{
    /*padding-top: 5px;*/
    margin-top: 5px;
}

.btn-transparent{
    background: transparent;
    font-size: 0.9em;
    color: #626262;
}

.btn-transparent i{
    margin-right: 8px;
}

.btn-post{
    
    border-radius: 10px;
    
}


.photo_icon {
    color: #C3C3C3;
    margin-right: 6px;
}

.post-form2{
    background: #fff;
    outline: none;
}
.post-form2 .text-area{
    border: 1px solid #eeeeee;
}
.post-form2 textarea{
    border-radius: 4px;
    outline: none;
    resize: none;
}

.post-form2 textarea.form-control:focus{
    border-color: transparent;
}
